#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "../theme/default",
    cache_dir: None,
    lyrics_dir: "/StorageBtw/Music",
    volume_step: 5,
    max_fps: 165,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    rewind_to_start_sec: None,
    reflect_changes_to_playlist: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    background_color: None,
    text_color: Some("{{ colors.secondary }}"),
    header_background_color: None,
    modal_background_color: None,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    tab_bar: (
        enabled: true,
        active_style: (fg: "{{ colors.on_primary }}", bg: "{{ colors.primary }}", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "{{ colors.on_surface }}", modifiers: "Bold"),
    current_item_style: (fg: "{{ colors.on_surface }}", bg: "{{ colors.surface_variant }}", modifiers: "Bold"),
    borders_style: (fg: "{{ colors.on_surface }}"),
    highlight_border_style: (fg: "{{ colors.on_surface }}"),
    symbols: (song: "", dir: "", marker: "", ellipsis: " ... "),
    progress_bar: (
        symbols: ["", "󰮯", ""],
        elapsed_style: (fg: "{{ colors.on_surface }}"),
        track_style: (fg: "{{ colors.tertiary }}"),
        thumb_style: (fg: "{{ colors.primary }}"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "{{ colors.on_surface }}"),
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Artists"),
            "3":       SwitchToTab("Albums"),
            "4":       SwitchToTab("Search"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: {
            "k":         Up, "j":         Down,
            "h":         Left, "l":         Right,
            "<Up>":      Up, "<Down>":    Down,
            "<Left>":    Left, "<Right>":   Right,
            "<C-k>":     PaneUp, "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft, "<C-l>":     PaneRight,
            "<C-u>":     UpHalf, "N":         PreviousResult,
            "a":         Add, "A":         AddAll,
            "r":         Rename, "n":         NextResult,
            "g":         Top, "<Space>":   Select,
            "<C-Space>": InvertSelection, "G":         Bottom,
            "<CR>":      Confirm, "i":         FocusInput,
            "J":         MoveDown, "<C-d>":     DownHalf,
            "/":         EnterSearch, "<C-c>":     Close,
            "<Esc>":     Close, "K":         MoveUp,
            "D":         Delete,
        },
        queue: {
            "D":       DeleteAll, "<CR>":    Play,
            "<C-s>":   Save, "a":       AddToPlaylist,
            "d":       Delete, "i":       ShowInfo,
            "C":       JumpToCurrent,
        },
    ),
    cava: (
        framerate: 165,
        autosens: true,
        sensitivity: 100,
        bar_color: Single("{{ colors.secondary }}"),
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77,
            monstercat: false,
            waves: false,
        ),
        eq: [],
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any", label: "Any Tag"),
            (value: "artist", label: "Artist"),
            (value: "album", label: "Album"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "{{ colors.on_primary }}", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "{{ colors.primary }}", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "{{ colors.on_primary }}", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "{{ colors.primary }}", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "{{ colors.primary }}", modifiers: "Bold"))),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "{{ colors.primary }}", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "{{ colors.primary }}", modifiers: "Bold"))),
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "{{ colors.primary }}", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "{{ colors.primary }}", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "{{ colors.primary }}", modifiers: "Bold")),
                ],
            ),
        ],
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (size: "5", borders: "ALL",
                borders_style: (bg: "{{ colors.on_primary }}", fg: "{{ colors.on_primary }}"),
                pane: Split(direction: Vertical, panes: [
                    (size: "2", pane: Pane(Header)),
                    (size: "1", pane: Pane(Tabs)),
                ]),
            ),
            (size: "100%", pane: Pane(TabContent)),
            (size: "3", borders: "ALL", pane: Pane(ProgressBar)),
        ],
    ),
)
