:root {
  --zen-primary-color: {{ colors.primary }};
  --toolbarbutton-icon-fill: {{ colors.primary }};
  --toolbar-field-color: {{ colors.on_surface }};
  --tab-selected-textcolor: {{ colors.primary }};
  --toolbar-color: {{ colors.on_surface }};
  --arrowpanel-color: {{ colors.on_surface }};
  --arrowpanel-background: {{ colors.surface }};
  --sidebar-text-color: {{ colors.on_surface }};
  --zen-main-browser-background: {{ colors.surface }};
}

.sidebar-placesTree {
  background-color: {{ colors.surface }};
}

#zen-workspaces-button {
  background-color: {{ colors.surface }};
}

#TabsToolbar {
  background-color: {{ colors.surface }};
}

.urlbar-background {
  background-color: {{ colors.surface }};
}

.urlbar-input::selection {
  color: {{ colors.on_primary }};
  background-color: {{ colors.primary }};
}

.urlbarView-url {
  color: {{ colors.on_surface_variant }};
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
      fill: {{ colors.primary }};
    }
  }
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: {{ colors.primary }};
  color: {{ colors.primary }};
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: {{ colors.primary }};
  color: {{ colors.primary }};
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: {{ colors.primary }};
}
